<% if(success.length) { %>
    <div class="alert alert-succsess alert-dismissible fade show" role="alert">
        <%= success %>
    </div>
<% } %>

<% if(error.length) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
    </div>
<% } %>