<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create new Campground</title>
</head>
<body>
<h1>Add new campground</h1>

<form action="/campgrounds" method="POST">
    <div>
        <input type="text" name="campground[title]" id="" placeholder="Enter title">
    </div>

    <div>
        <input type="text" name="campground[location]" id="" placeholder="Enter location">

    </div>
    <div>
        <input type="text" name="campground[price]" id="" placeholder="Enter price">
    </div>

    <div>
        <input type="text" name="campground[description]" id="" placeholder="Enter description">
    </div>

    <button>Add Campground</button>
</form>
<a href="/campgrounds">All campgrounds</a>
</body>
</html>